---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro'
import ReadyToStart from '../components/ReadyToStart.astro';
import Form from '../components/Form.svelte'
---
<Layout title="PayAPI Contact">
    <div class="whole-container">
    <header>
        <Nav />
        <div class="header-circle"></div>
    </header>
    <main>
        <h1>{"Submit a help request and we'll get in touch shortly."}</h1>
        <div class="form-partners-container">
        <Form client:load />
        <section class="partner-section">
            <h4> Join the thousands of innovators already building with us</h4>
            <div class="partners">
                <img src="../../assets/shared/desktop/tesla.svg" alt="tesla" class="partner">
                <img src="../../assets/shared/desktop/microsoft.svg" alt="microsoft" class="partner">
                <img src="../../assets/shared/desktop/hewlett-packard.svg" alt="hewlett-packard" class="partner">
                <img src="../../assets/shared/desktop/oracle.svg" alt="oracle" class="partnert">
                <img src="../../assets/shared/desktop/google.svg" alt="google" class="partner">
                <img src="../../assets/shared/desktop/nvidia.svg" alt="nvidia" class="partner">
            </div>
        </section>
        </div>
        <ReadyToStart />
    </main>
    <div class="footer-container">
        <Footer />
    </div>
    </div>
</Layout>

<style>
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .partners {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
        margin: 2.5rem 0;
    }
    img {
        max-width: 115px;
    }
    h4 {
        opacity: 75%;
        text-align: center;
        max-width: 445px;
    }
    @media screen and (min-width: 768px) {
        h1{
            max-width: 500px;
            margin: 6rem auto 4rem;
        }
        .partners {
            grid-template-columns: repeat(3, 1fr);
        }
        img {
            max-width: 145px;
        }
    }
    @media screen and (min-width: 1440px) {
        .header-circle {
            width: 780px;
			height: 780px;
			top: -560px;
			margin-right: -900px;
        }
        section {
            margin-right: 5rem;
            margin-left: 5rem;
        }
        h1 {
            max-width: 650px;
            font-size: 56px;
            line-height: 56px;
            text-align: left;
            margin-right: 5rem;
            margin-left: 5rem;
            padding-left: 5rem;
            padding-right: 5rem;
        }
        .form-partners-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 10rem;
            margin-left: 10rem;
        }
        h4 {
            text-align: start;
            max-width: 500px;
        }
    }
</style>