---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro'
import HomeStart from '../components/HomeStart.astro';
import Connections from '../components/Connections.astro';
import EasyToImplement from '../components/EasyToImplement.astro';
import SimpleUI from '../components/SimpleUI.astro'
import ReadyToStart from '../components/ReadyToStart.astro';
import HomeServices from '../components/HomeServices.astro';
---

<Layout title="PayAPI">
	<div class="whole-container">
	<header>
		<Nav />
		<div class="home-header-circle"></div>
		<div class="phone-start">
			<img src="../../assets/home/desktop/illustration-phone-mockup.svg" alt="phone" class="phone">
			<HomeStart />
		</div>
	</header>
	<main>
		<Connections />
		<EasyToImplement />
		<SimpleUI />
		<HomeServices />
		<ReadyToStart />
	</main>
	<div class="footer-div">
		<Footer />
	</div>
	</div>
</Layout>

<style>
	.home-header-circle {
		width: 780px;
		height: 780px;
		background: rgba(54,83,107,0.2);
		border-radius: 100%;
		position: absolute;
		top: -560px;
		right: 50%;
		margin-right: -390px;
		z-index: -1;
	}
	.phone {
		width: 200px;
		height: 300px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-left: 20px;
	}
	@media screen and (min-width: 768px) {
		.home-header-circle {
			width: 1100px;
			height: 1100px;
			margin-right: -550px;
			top: -850px
		}
		.phone {
			width: 280px;
			height: 420px;
		}
	}
	@media screen and (min-width: 1440px) {
		.home-header-circle {
			width: 780px;
			height: 780px;
			top: -250px;
			margin-right: -900px;
		}
		.phone-start {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			margin: 4rem 10rem;
			align-items: center;
		}
		.phone {
			height: 600px;
			width: 400px;
			margin: 0;
			margin-top: -2rem;
		}
	}
</style>
