---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro'
---

<Layout title="PayAPI">
	<header>
		<Nav />
	</header>
	<main>
		<h1>hello</h1>
	</main>
	<Footer />
</Layout>

<style>
	main {
		
	}
</style>
