---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro'
import PlanCard from '../components/PlanCard.astro';
import ReadyToStart from '../components/ReadyToStart.astro';

let plans = [
    {
        plan: 'Free Plan',
        cost: "$0.00",
        description: "Build and test using our core set of products with up to 100 API requests",
        services: [
            {
                service: 'Transactions',
                provided: true,
            },
            {
                service: 'Auth',
                provided: true,
            },
            {
                service: 'Identity',
                provided: true,
            },
            {
                service: 'Investments',
                provided: false,
            },
            {
                service: 'Assets',
                provided: false,
            },
            {
                service: 'Liabilities',
                provided: false,
            },
            {
                service: 'Income',
                provided: false
            }
        ]
    },
    {
        plan: 'Basic Plan',
        cost: "$249.00",
        description : "Launch your project with unlimited requests and no contractual minimums",
        services: [
            {
                service: 'Transactions',
                provided: true,
            },
            {
                service: 'Auth',
                provided: true,
            },
            {
                service: 'Identity',
                provided: true,
            },
            {
                service: 'Investments',
                provided: true,
            },
            {
                service: 'Assets',
                provided: true,
            },
            {
                service: 'Liabilities',
                provided: false,
            },
            {
                service: 'Income',
                provided: false
            } 
        ]
    },
    {
        plan: 'Premium Plan',
        cost: "$499.00",
        description : "Get tailored solutions, volume pricing, and dedicated support for your team",
        services: [
            {
                service: 'Transactions',
                provided: true,
            },
            {
                service: 'Auth',
                provided: true,
            },
            {
                service: 'Identity',
                provided: true,
            },
            {
                service: 'Investments',
                provided: true,
            },
            {
                service: 'Assets',
                provided: true,
            },
            {
                service: 'Liabilities',
                provided: true,
            },
            {
                service: 'Income',
                provided: true
            } 
        ] 
    }
]
---
<Layout title="PayAPI Pricing">
    <div class="whole-container">
    <header>
        <Nav />
        <div class="header-circle"></div>
    </header>
    <main>
        <h1>Pricing</h1>
        <section class="card">
            {plans.map((plan) => (
                <PlanCard plan={plan.plan} cost={plan.cost} services={plan.services} description={plan.description} />
            ))}
        </section>
        <ReadyToStart />
    </main>
    <div class="footer-div">
        <Footer />
    </div>
    </div>
</Layout>

<style>
    section {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-bottom: 5rem;
    }
    @media screen and (min-width: 768px) {
        section {
            flex-direction: row;
            gap: 1rem;
        }
        h1 {
            margin: 6rem auto 4rem;
        }
    }
    @media screen and (min-width: 1440px) {
        h1 {
            font-size: 56px;
            text-align: left;
            margin-right: 5rem;
            margin-left: 5rem;
            padding-left: 5rem;
            padding-right: 5rem;
        }
        .header-circle {
            width: 780px;
			height: 780px;
			top: -560px;
			margin-right: -900px;
        }
        section {
            margin-right: 5rem;
            margin-left: 5rem;
        }
    }
</style>