---
---

<section>
    <div class="header-circle"></div>
    <div class="partners">
        <img src="../../assets/shared/desktop/tesla2.svg" alt="tesla" class="partner">
        <img src="../../assets/shared/desktop/microsoft2.svg" alt="microsoft" class="partner">
        <img src="../../assets/shared/desktop/hewlett-packard2.svg" alt="hewlett-packard" class="partner">
        <img src="../../assets/shared/desktop/oracle2.svg" alt="oracle" class="partnert">
        <img src="../../assets/shared/desktop/google2.svg" alt="google" class="partner">
        <img src="../../assets/shared/desktop/nvidia2.svg" alt="nvidia" class="partner"> 
    </div>
    <h3>Who we work with</h3>
    <p>Today, millions of people around the world have successfully connected their accounts to apps they love using our API. We provide developers with the tools they need to create easy and accessible experiences for their users. </p>
    <a href="/about" class="about">About Us</a>
</section>

<style>
    section {
        background-color: var(--mirageBlue);
        color: var(--linkWaterWhite);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
        padding-right: 2rem;
        padding-left: 2rem;
        position: relative;
        overflow: hidden;
    }
    .header-circle {
		width: 780px;
		height: 780px;
		background: rgba(54,83,107,0.2);
		border-radius: 100%;
		position: absolute;
		top: -600px;
		right: 50%;
		margin-right: -390px;
		z-index: 2;
	}
    img {
        max-width: 115px;
    }
    .partners {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
        margin-bottom: 2.5rem;
        z-index: 3;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .about {
        width: 129px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--linkWaterWhite);
        color: var(--linkWaterWhite);
        border-radius: 50px;
        margin-top: 1rem;
    }
    h3 {
        font-family: 'DM Serif Display', serif;
        line-height: 40px;
        font-size: 32px;
        text-align: center;
    }
</style>