---

---
<footer>
    <section>
        <a href='/' class="icon-box">
            <img src="../../assets/shared/Group-22.png" alt="icon" class="icon" />
            <h1 style="font-weight:900">pay<span style="font-weight:100">api</span></h1>
        </a>
        <a href="/pricing" class="link">Pricing</a>
        <a href="/about" class="link">About</a>
        <a href="/contact" class="link">Contact</a>
        <div class="socials">
            <a href="/"><img src="../../assets/shared/desktop/facebook.svg" alt="facebook"></a>
            <a href="/"><img src="../../assets/shared/desktop/twitter.svg" alt="twitter"></a>
            <a href="/"><img src="../../assets/shared/desktop/linkedin.svg" alt="linkedin"></a>
        </div>
    </section>
    <div class="footer-circle"></div>
</footer>

<style>
    section {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2.2rem;
        color: var(--linkWaterWhite);
        padding: 3rem;
        z-index: 2;
    }
    footer {
		position: relative;
		overflow: hidden;
        background-color: var(--mirageBlue);
		margin-top: 5rem;
	}
	.footer-circle {
		width: 780px;
		height: 780px;
		background: rgba(54,83,107,0.15);
		border-radius: 100%;
		position: absolute;
		bottom: -615px;
		right: 50%;
		margin-right: -390px;
		z-index: 1;
	}
    .icon-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
        font-size: 20px;
        text-decoration: none;
        color: var(--linkWaterWhite);
    }
    .link {
        opacity: 70%;
        font-weight: 700;
    }
    .link:hover {
        opacity: 100%;
    }
    .icon {
        height: 38px;
        width: 38px;
    }
    a {
        color: var(--linkWaterWhite);
        font-size: 15px;
    }
    .socials {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
</style>