---
import EmailDemo from "./EmailDemo.svelte";
---

<section>
    <h1>Start building with our <br/>APIs for absolutely free.</h1>
    <EmailDemo client:visible />
    <p>Have any questions? <a href="/contact"><strong>Contact Us</strong></a></p>
</section>

<style>
    a {
        text-decoration: none;
        color: var(--sanJuanBlue)
    }
    p {
        margin: 1rem;
        text-align: center;
        margin-bottom: 4rem;
    }
    h1 {
        margin: -1.5rem 0 1.5rem;
    }
    br {
        display: none;
    }
    @media screen and (min-width: 768px) {
        br {
            display: block;
        }
    }
</style>