---
import EmailDemo from "./EmailDemo.svelte";
---

<section>
    <h2>Start building with our APIs for absolutely free.</h2>
    <EmailDemo client:visible />
    <p>Have any questions? <a href="/contact"><strong>Contact Us</strong></a></p>
</section>

<style>
    a {
        text-decoration: none;
        color: var(--sanJuanBlue)
    }
    p {
        margin: 1rem;
        text-align: center;
        margin-bottom: 4rem;
    }
    h2 {
        font-family: 'DM Serif Display', serif;
        font-weight: 400;
        line-height: 40px;
        font-size: 32px;
        margin: -1.5rem 0 1rem;
        text-align: center;
    }
</style>