---
import EmailDemo from "./EmailDemo.svelte";
---

<section>
    <h1>Ready to start?</h2>
    <EmailDemo client:visible/>
</section>

<style>
    h1 {
        margin: 2rem 0;
    }
    @media screen and (min-width: 768px) {
        h1 {
            margin: 2.5rem 0;
        }
    }
</style>