---

---

<section>
    <div class="header-circle"></div>
    <img src="../../assets/home/desktop/illustration-simple-ui.svg" alt="">
    <div class="container">
        <h2>Simple UI & UX</h2>
        <p>Our pre-built form is easy to integrate in your app or website’s checkout flow and designed to optimize conversion. </p>
    </div>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        font-family: 'DM Serif Display', serif;
        font-weight: 400;
        line-height: 36px;
        font-size: 36px;
        margin: 2rem 0;
        text-align: center;
    }
    div {
        margin-top: -3rem;
        margin-bottom: 3rem;
        text-align: center;
    }
    img {
        max-width: 130%;
        margin-left: 2rem;
    }
    .header-circle {
        display: none;
    }
    @media screen and (min-width: 768px) {
        h2 {
            line-height: 56px;
            font-size: 48px;
        }
        p {
            max-width: 573px;
        }
        img {
            max-width: 450px;
        }
    }

    @media screen and (min-width: 1440px) {
        section {
            flex-direction: row-reverse;
            justify-content: space-between;
            position: relative;
        }
        .container {
            width: 445px;
            margin-left: 5rem;
        }
        h2 {
            text-align: left;
        }
        p {
            text-align: left;
            width: 445px;
        }
        img {
            max-width: 800px;
        }
        .header-circle {
            display: block;
            width: 780px;
		    height: 780px;
		    background: rgba(54,83,107,0.2);
		    border-radius: 100%;
		    position: absolute;
            z-index: -1;
            top: -55px;
            right: 35%;
        }
    }
</style>