---

---

<section>
    <img src="../../assets/home/desktop/illustration-simple-ui.svg" alt="">
    <div>
        <h2>Simple UI & UX</h2>
        <p>Our pre-built form is easy to integrate in your app or website’s checkout flow and designed to optimize conversion. </p>
    </div>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        font-family: 'DM Serif Display', serif;
        font-weight: 400;
        line-height: 36px;
        font-size: 36px;
        margin: 2rem 0;
        text-align: center;
    }
    div {
        margin-top: -3rem;
        margin-bottom: 3rem;
        text-align: center;
    }
    img {
        max-width: 130%;
        margin-left: 2rem;
    }
</style>