---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans&display=swap" rel="stylesheet"> 
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="side-panal"/>
		<div>
			<slot class="page" />
		</div>
		<div class="side-panal"/>
	</body>
</html>
<style is:global>
	:root {
		--darkPink: rgb(186, 66, 112);
		--linkWaterWhite: rgb(251, 252, 254);
		--sanJuanBlue: rgb(54, 83, 107);
		--mirageBlue: rgb(27, 38, 47);
		--charmPink: rgb(218, 109, 151);
		--lightSanJuanBlue: rgb(108, 130, 148);
	}
	* {
		margin: 0;
		padding: 0;
	}
	html {
		font-size: 15px;
		background-color: #EDF3F8;
		color: var(--sanJuanBlue);
		font-family: 'Public Sans', sans-serif;
		overflow-x: hidden;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	html::-webkit-scrollbar {
		display: none;
	}
	h1 {
        font-family: 'DM Serif Display', serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
        margin: 3rem 1rem;
    }
	h4 {
		font-size: 24px;
        line-height: 32px;
        font-weight: 400;
        font-family: 'DM Serif Display', serif;
	}
	a {
		text-decoration: none;
	}
	p {
        text-align: center;
        line-height: 28px;
        opacity: 80%;
    }
	section {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	.schedule-button {
		background-color: var(--darkPink);
		height: 48px;
		width: 100%;
		border-radius: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 15px;
		font-weight: 700;
		color: var(--linkWaterWhite);
		cursor: pointer;
		border: none;
	}
	.schedule-button:hover {
		background-color: var(--charmPink);
	}
	.header-circle {
		width: 780px;
		height: 780px;
		background: rgba(54,83,107,0.2);
		border-radius: 100%;
		position: absolute;
		top: -660px;
		right: 50%;
		margin-right: -660px;
		z-index: -1;
	}
	.side-panal {
		display: none
	}
	body {
		min-height: 100vh;
	}
	.footer-div {
		margin-top: auto;
	}
	.whole-container {
		display: flex;
  		min-height: 100vh;
  		flex-direction: column;
  		justify-content: flex-start;
	}
	@media screen and (min-width: 768px) {
		section {
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}
		h1 {
            font-size: 48px;
            line-height: 56px;
        }
		.schedule-button {
			max-width: 173px;
		}
		.header-circle {
            margin-right: -900px;
            top: -470px;
        }
	}
	@media screen and (min-width: 1440px) {
		body {
			display: flex;
		}
		h1 {
			font-size: 72px;
			line-height: 72px;
		}
		section {
			padding-left: 5rem;
			padding-right: 5rem;
		}
		.side-panal {
			display: block;
			background-color: var(--sanJuanBlue);
			width: 100%;
		}
		main {
			width: 1440px;
			margin: auto;
		}
		header {
			width: 1440px;
			margin: auto;
		}
		footer {
			width: 1440px;
			margin: auto;
		}
	}
</style>
